@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;700&display=swap');

@import './_variables';

* {
	transition: 0.3s;
	font-family: 'Heebo', sans-serif;
}
.nmt-1 {
	margin-top: -1rem;
}
.nmt-2 {
	margin-top: -2rem;
}
.nmt-3 {
	margin-top: -3rem;
}
.nmt-4 {
	margin-top: -4rem;
}
.fs-8xl {
	font-size: 9rem !important;
}
.fs-7xl {
	font-size: 8rem !important;
}
.fs-6xl {
	font-size: 7rem !important;
}
.fs-5xl {
	font-size: 6rem !important;
}
.fs-4xl {
	font-size: 5rem !important;
}
.fs-3xl {
	font-size: 4rem !important;
}
.fs-2xl {
	font-size: 3.5rem !important;
}
.fs-xl {
	font-size: 3rem !important;
}
.fs-lg {
	font-size: 2.5rem !important;
}
.fs-md {
	font-size: 2rem !important;
}
.fs-sm {
	font-size: 1.5rem !important;
}
.fs-xs {
	font-size: 1rem !important;
}
.fw-light {
	font-weight: lighter !important;
}
.mw-sm {
	max-width: 24rem;
	margin: 0 auto;
}
.mw-md {
	max-width: 36rem;
	margin: 0 auto;
}
.mw-lg {
	max-width: 48rem;
	margin: 0 auto;
}
a {
	font-weight: bold;
	text-decoration: underline !important;
	text-decoration-color: $primary !important;
	text-decoration-thickness: 3px !important;
	text-underline-offset: 0.25rem !important;
}
hr.primary.small-width {
	height: 3px;
	width: 80px;
	margin: 2rem auto;
	background: $primary;
	border: none;
}
img {
	max-width: 100%;
}
@import '~bootstrap/scss/bootstrap';
