@import '../../styles/variables';
.Header {
	width: 100%;
	align-items: center;
	justify-content: space-between;
	z-index: 2;
	ul {
		justify-content: flex-end;
		display: flex;
		list-style: none;
		li {
			margin-left: 2rem;
			color: $white;
			a {
				color: white;
				&:hover
				{
					text-decoration: underline;
					text-decoration-color: $primary;
					text-decoration-thickness: 3px;
					text-underline-offset: 0.25rem;
				}
				&.active {
					text-decoration: underline;
					text-decoration-color: $primary;
					text-decoration-thickness: 3px;
					text-underline-offset: 0.25rem;
				}
				&.headerButton {
					&:hover {
						text-decoration: none !important;
					}
				}
				
			}
		}
	}
}
.SideNav {
	height: 100%;
	position: absolute;
	background: $gray-dark;
	width: 75%;
	z-index: 999;
	visibility: hidden;
	transform: translateX(-100%);
	padding: 32px;
	&.isActive {
		visibility: visible;
		transform: translateX(0%);
	}
	ul {
		list-style-type: none;
		padding: 0;
		li {
			text-align: center;
			padding: 16px 0;
			font-size: 18px;
		}
	}
}