@import '../../styles/variables';

.InputLabel {
	width: 100%;
	margin-bottom: 0;
	span {
		font-weight: bold;
		color: $gray-dark;
		margin-bottom: 0.5rem;
		display: inline-block;
	}
	.Input {
		padding: 1rem;
		border: none;
		width: 100%;
		display: inline-block;
		margin-bottom: 1rem;
		font-weight: lighter;
		color: $gray-dark;
		&::placeholder {
			color: $gray;
		}
	}
	textarea {
		min-height: 8rem;
	}
}
